.pokemon-team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  cursor: pointer;
  height: 200px;
}

.pokemon-team-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
